<h2 class="bg-light mb-2">Update Product</h2>
<form [formGroup]="updateForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <div class="col-md-6 mb-3">
      <label class="form-label">Product Name</label>
      <input type="text" class="form-control"
      formControlName="productName"
      [ngClass]="{'is-invalid':(f.productName.dirty || f.productName.touched || productSubmitted) && f.productName.errors }">
      <span class="error-block" *ngIf="!f.productName.valid && (f.productName.touched || productSubmitted)">
        <p class="alert alert-danger">Please provide product name</p>
      </span>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-6 mb-3">
      <label class="form-label">Description</label>
      <textarea type="text" class="form-control"
      formControlName="productDescription"
      [ngClass]="{'is-invalid':(f.productName.dirty || f.productName.touched || productSubmitted) && f.productName.errors }">
      </textarea>
      <span class="error-block" *ngIf="!f.productDescription.valid && (f.productDescription.touched || productSubmitted)">
        <p class="alert alert-danger">Please provide product description</p>
      </span>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-6 mb-3">
      <label class="form-label">Product Image</label>
      <!--<img [src]="imgURL" alt="" *ngIf="imgURL">-->
      <!--<input type="file" id="image" class="form-control" formControlName="productImage">-->
      <input #fileInput class="form-control" formControlName="productImage" type="file" accept="image/*" (change)="onFileSelected($event)">
      <!--<button [hidden]="upLoadedFile" type="button" class="btn btn-outline-primary" (click)="fileInput.click()">
        Upload
      </button>-->
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-6 mb-3">
      <label class="form-label">Product Price</label>
      <input type="number" class="form-control"
      formControlName="productPrice"
      [ngClass]="{'is-invalid': f.productPrice.errors && (f.productPrice.dirty  || f.productPrice.touched || productSubmitted) }">
      <span class="error-block" *ngIf="!f.productPrice.valid && (f.productPrice.touched || f.productPrice.dirty)">
        <p class="alert alert-danger">Please provide product price</p>
      </span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-6 mb-3">
      <button class="btn btn-primary" type="submit" style="margin-bottom: 10px;" [disabled]="!updateForm.valid">Update Product</button>
    </div>
  </div>
  <h3 class="center-block text-center">{{displayMessage}}</h3>
</form>

<!--FORM {{updateForm.value | json}}
<br/>
<br/>
MODEL {{product | json}}-->
